@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'WorkSansFont';
  src: url('../../public/fonts/WorkSans-Regular.ttf') format('truetype'),
       url('../../public/fonts/WorkSans-Medium.ttf') format('truetype'),
       url('../../public/fonts/WorkSans-SemiBold.ttf') format('truetype'),
       url('../../public/fonts/WorkSans-Bold.ttf') format('truetype'),
       url('../../public/fonts/WorkSans-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
